
$pink: rgba(255, 198, 198, 1)

.navbar-nav
    float: none
.navbar
    border: 0
.nav
    z-index: 100
    background: $pink
    text-align: center
.nav li a:hover, .nav li a:focus
    background-color: #FA5858
    border-color: #FA5858
.menu
    background-color: $pink
    // width: 14%
    white-space: nowrap
    font:
        size: 120%
        family: fantasy
    // overflow: hidden
    text:
        align: center
        overflow: ellipsis
    border: 0
    padding: 0.1%
    &:hover
        background-color: #FA5858
        border-color: #FA5858
    a
        width: 100%
        text-align: center
        text-align: right
        font-size: 25px
        margin: 0
        color: white
        &:hover
            background-color: #FA5858
            border-color: #FA5858
.slogan,.menu,.date,header
    display: inline-block
    margin: 0
.header
    background-color: rgba(111, 169, 120, 0.7)
    width: 100%
    margin:
        top: 0px
        bottom: 1%
    position: relative
    .changeCol
        padding: 0
        background-color: rgba(0, 0, 0, 0)
        &:hover
            background-color: rgba(49, 124, 101, 0.7)    
    .title
        -webkit-margin-before: 0
        -webkit-margin-after: 0
        font-size: 450%
        margin:
            left: 0
            top: 0%
            bottom: 0
        color: white
    &_img
        margin:
            left: 1%
            right: 1%
            top: 1%
    .slogan
        font-size: 28px
        -webkit-text-stroke: 0.5px
        color: whitesmoke
        font: italic
    .date
        margin-left: 0%
        color: whitesmoke
        font-size: 50px