@font-face 
    font-family: 'font1'
    src: url('fonts/1.woff2') format('woff2'), url('fonts/1.woff') format('woff')
    font-weight: normal
@font-face
    font-family: 'font2'
    src: url('fonts/2.woff2') format('woff2'), url('fonts/1.woff') format('woff')
    font-weight: normal
@font-face 
    font-family: 'font3'
    src: url('fonts/3.woff2') format('woff2'), url('fonts/1.woff') format('woff')
    font-weight: normal
@font-face 
    font-family: 'font4'
    src: url('fonts/4.woff2') format('woff2'), url('fonts/1.woff') format('woff')
    font-weight: normal
@font-face 
    font-family: 'font5'
    src: url('fonts/5.woff2') format('woff2'), url('fonts/1.woff') format('woff')
    font-weight: normal
@font-face 
    font-family: 'font7'
    src: url('fonts/7.ttf')
    font-weight: normal
@font-face 
    font-family: 'font8'
    src: url('fonts/8.ttf')
    font-weight: normal
$darkblue: rgba(0, 117, 129, 0.6)
.container
    max-width: 100%

.item p
    position: absolute
    text-align: center
    left: 20%
    top: 10px
    color: white
    font:
        size: 18px
        family: fantasy
.carousel-inner:hover ~ a.carousel-control
    background: rgba(0,0,0,0)
    opacity: 1
    transition-property: opacity
    transition-duration: 0.3s
    transition-timing-function: ease-in
.carousel-control, .carousel-control:focus
    font-size: 40px
    opacity: 0
    text-shadow: 0 0 7px black
.carousel-control:hover
    opacity: 1
    transition-property: opacity
    transition-duration: 0.3s
    transition-timing-function: ease-in
    text-shadow: 0 0 7px black
    background: rgba(0,0,0,0)
header
    width: 100%
    background-image: url('img2/467.png')
    background-size: 100% 
    margin: 0
    margin-bottom: 1%
    .menu a
        color: white
        font-family: font8
        font-size: 18px
        &:hover
            color: $darkblue
            transition-property: color
            transition-duration: 0.3s
            transition-timing-function: ease-in
            background-color: rgba(0,0,0,0)
    .header_block
        max-width: 1200px
        margin: auto
    .header_rioto
        width: 21%
        margin-left: 5%
        margin-top: 2%
    .header_aeli
        width: 21%
        margin-left: 2%
        margin-top: 2%
    .header_richard
        width: 21%
        margin-left: 2%
        margin-top: 2%
    .header_tim
        width: 21%
        margin-left: 2%
        margin-top: 2%
    .header_candy
        width: 23%
        margin-top: 2%
        margin-left: 5%
        margin-bottom: 2%
    .head
        padding: 10%
        padding-left: 0
        padding-right: 0
        margin: auto
        text-align: center
    .header_vadim
        width: 23%
        margin-top: 2%
        margin-bottom: 2%
.header_description
    font-family: font8
    color: white
    text-align: center
    font-size: 25px
p.head
    font-size: 30px
    font-family: font8
.navbar
    margin-bottom: 0
body
    cursor: url('cursor.cur'), default
    min-height: 100%
    background-color: white
    background-image: url('img2/pattern3.png')
    background-size: 50%
    margin: 0
html
    min-height: 100%
.main
    max-width: 1200px
    margin: auto
.img
    width: 100%
.block
    background: rgba(0, 117, 129, 0.5)
    padding: 2%
    color: white
    font-size: 23px
    text-align: left
    font-family: font5
.notblock
    font-family: font5
    background: rgba(167, 219, 216,0.5)
    color: rgba(0, 117, 129, 0.8)
    font-size: 23px
    margin:
        bottom: 17px
        right: -15px
    padding: 15px
.row
    margin-bottom: 2%
.navbar-brand
    font-family: font1
    color: white
    font-size: 75px
footer
    padding: 1%
    text-align: center
.navbar-toggle
    padding: 0
    color: white
    font-size: 30px
    border: 0
@media all and (max-width: 768px)
    menu
        background-image: url('vk.svg')
    header.menu a
        padding-bottom: 20px
    .navbar-brand p
        font-family: font4
        color: white
        font-size: 15px
        display: inline-block !important
        vertical-align: text-bottom
    .header_description
        font-size: 20px
        margin: 0
        padding:
            left: 1%
            right: 1%
    .block
        margin:
            left: 15px
            right: 15px
        font-size: 20px
    .notblock
        margin-right: 0
        font-size: 20px
    .nav li a
        padding-left: 0
    .navbar-nav a
        text-align: center
@media all and (max-width: 992px)
    .block
        margin:
            left: 15px
            right: 15px
    .notblock
        margin-right: 0
