.container
    max-width: 100%

header
    width: 100%
    background-image: url('467.jpg')
    background-size: 100% 
    margin: 0
    margin-bottom: 1%
    .menu a
        color: white
        font-size: 20px
        &:hover
            transition-property: background-color
            transition-duration: 0.3s
            transition-timing-function: ease-in
            background-color: rgba(0, 117, 129, 0.8)
    .header_block
        max-width: 1200px
        margin: auto
    .header_rioto
        width: 21%
        margin-left: 5%
        margin-top: 2%
    .header_aeli
        width: 21%
        margin-left: 2%
        margin-top: 2%
    .header_richard
        width: 21%
        margin-left: 2%
        margin-top: 2%
    .header_tim
        width: 21%
        margin-left: 2%
        margin-top: 2%
    .header_candy
        width: 23%
        margin-top: 2%
        margin-left: 5%
        margin-bottom: 2%
    .head
        padding: 10%
        padding-left: 0
        padding-right: 0
        margin: auto
        text-align: center
    .header_vadim
        width: 23%
        margin-top: 2%
        margin-bottom: 2%
.header_description
    color: white
    text-align: center
    font-size: 24px
.navbar
    margin-bottom: 0
body
    min-height: 100%
    background: url('17.eps') no-repeat
    background-size: 100% 100%
    //background-color: white
    margin: 0
html
    min-height: 100%
.main
    max-width: 1200px
    margin: auto
.img
    width: 100%
.block
    background: rgba(0, 117, 129, 0.5)
    padding: 2%
    color: white
    font-size: 20px
.row
    margin-bottom: 2%
.navbar-brand
    color: white
    font-size: 25px
    margin-left: 2%
.navbar-collapse collapse in
    margin-left: 2%
footer
    padding: 1%
    text-align: center
@media all and (max-width: 768px)
    .header_description
        font-size: 25px
        margin: 0
        padding:
            left: 1%
            right: 1%
    .block
        margin:
            left: 15px
            right: 15px
        font-size: 15px
    .navbar-nav a
        text-align: right
    header .menu a
        padding-right: 5%
@media all and (max-width: 992px)
    .block
        margin:
            left: 15px
            right: 15px