!!! 5
%html

  %head
    <!-- Тут всякие крутые штуки для IE и не только-->
    %meta(charset="UTF-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <!-- А тут остальное -->
    %title Страница не создана
    %link(rel="stylesheet" href="./css/ForAll.css")
    %link(rel="stylesheet" href="./css/notfound.css")
    %link(rel="shortcut icon" href="./Icons/cat2.ico" type="image/x-icon")
  %body
    %div.not_found
      %h1.not_found_h1
        Извините, эта страница пока не готова (скорее всего и не будет готова хд)
    %button.but(style="margin-left:43%;font-size:20px;" onClick='location.href="./index.html"') На главную
