!!! 5
%html

    %head
        %title Мои персонажи
        <!-- Тут всякие крутые штуки для IE и не только-->
        %meta(charset="UTF-8")
        %meta(http-equiv="X-UA-Compatible" content="IE=edge")
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")
        <!-- А тут остальное -->
        %link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
        %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        %link(rel="stylesheet" href="pers.css")
        %link(rel="shortcut icon" href="../Icons/cat2.ico" type="image/x-icon")
        %meta(name="theme-color" content="rgba(0, 117, 129, 0.5)")
        <!-- Оно не робиииит (((( -->
        <script type="text/javascript">
            $("#header_rioto").click(function () {
                $("html, body").animate({
                    scrollTop: $($(this).attr("href")).offset().top + "px"
                }, {
                        duration: 500,
                        easing: "swing"
                    });
                return false;
            });
        </script>

    %body
        %header
            .navbar(role="navigation")
                .container-fluid(style="max-width:1200px;margin:auto;")
                    .navbar-header(style="border:0")
                        %button(type="button" class="navbar-toggle collapsed" data-target="#qwerty" data-toggle="collapse" aria-expanded="false")
                            -# %span(class="glyphicon glyphicon-tree-conifer")
                            %img(src="hamb.svg" style="width:30px;color:white")
                        .navbar-brand Spanri 
                            %p &nbsp Персонажи
                    %div(class="collapse navbar-collapse" id="qwerty" style="padding:0;border:0")
                        %ul(class="nav navbar-nav navbar-right" style="margin:0")
                            %li.menu
                                %a(href="../index.html") Сайт автора персонажей
                            %li.menu
                                %a(href="http://vk.com/art_nysha") Группа вк автора персонажей
            .header_block.container-fluid.hidden-xs
                .row
                    .col-lg-3.col-md-3.col-sm-3.hidden-xs
                        %a#header_rioto(href="#rioto")
                            %img.img(title="Риото" src="риото.png")
                    .col-lg-3.col-md-3.col-sm-3.hidden-xs
                        %a(href="#aeli")
                            %img.img(title="Аэль" src="риото.png")
                    .col-lg-3.col-md-3.col-sm-3.hidden-xs
                        %a(href="#richard")
                            %img.img(title="Ричард" src="риото.png")
                    .col-lg-3.col-md-3.col-sm-3.hidden-xs
                        %a(href="#tim")
                            %img.img(title="Тим" src="риото.png")
                .row
                    .col-lg-3.col-md-3.col-sm-3.hidden-xs
                        %a(href="#candy")
                            %img.img(title="Кенди" src="candy.png")
                    -# .visible-xs
                    -#     %p.header_description
                    -#         Хочешь узнать больше о моих персонажах? Листай ниже!
                    .col-lg-6.col-md-6.col-sm-6.hidden-xs
                        %p.header_description
                            Хочешь узнать больше о моих персонажах? Листай ниже или кликай на изображение понравившегося героя!
                    .col-lg-3.col-md-3.col-sm-3.hidden-xs
                        %a(href="#vadim")
                            %img.img(title="Вадим" src="риото.png")
        .container-fluid.main(style="margin:auto;text-align:center;z-index:1")
            .row
                .col-lg-6.col-md-6
                    %img#rioto.img(src="риотка.jpg")
                .col-lg-6.block.col-md-6
                    %p.head  Риото
                    %p  Я самый продуманный персонаж. Придуман аж в 2014 году! 
                        Спанри говорит, что я олицетворяю ее со стороны странности, необычности, ребячества, интереса и творчества. 
                        Но я хочу быть оригинальным! Я пою, люблю смотреть мульфильмы, есть чипсы и своего кролика. Впервые я его увидел на подоконнике своей комнаты
                        с уличной стороны и влюбился. Живу с Кенди, а еще у меня нет паспорта и вообще удостоверяющих документов, ха-ха! Не хочу
                        их делать, потому что так мне не надо работать (ну только фриланс). К техническим наукам этим я отношусь с недоверием, больше
                        люблю интуицию. В прошлом дракон! Правда не имеющий любви у родителей и потому сбежавший в мир людей...
            .notblock
                %p.head Немного интересных фактов!
                %p Первый человек, с которым познакомился Риото - Кенди. Ему понравился дом, поэтому он даже пытался играть хорошего
                    мальчика, чтобы завоевать доверие Кенди. Когда он понял, что это необязательно, ребячесть дала волю. 
                %p Риото также знает Тима, однако не играл с ним, ведь Тим не любит детские забавы.
            .row
                .col-lg-6.col-md-6
                    %img#candy.img(src="467.jpg" style="width:100%")
                .col-lg-6.block.col-md-6
                    %p.head Кенди
                    %p Спанри и еще один автор с multator.ru на общем аккаунте создали меня. После этого аккаунт был заброшен, 
                        но Спанри было жалко такого замечательного героя и она придумала мне историю. А потом появился Риото, благодаря
                        которому я прочно вошла в историю мира. Я олицетворяю женскую сторону Спанри,
                        и конечно куда без увлечений мальчиками... Однако, тссс, я не люблю показывать чувства, ведь я
                        постоянно не уверена в них: а вдруг кажется? 
                    %p Я работаю певицей в баре, однако не люблю шум и всегда ругаю Риото, если он создает слишком много этого шума.
                        Хочу стать богатой и целыми днями только есть и смотреть сериалы. Очень домашняя, хотя, как и у всех, бывают
                        всплески энергии.
            .notblock
                %p.head Больше фактов о персонажах!
                %p Кенди впустила в дом Риото потому, что он ей показался красивым. Но она сама утверждает, 
                    что это из-за того, что у нее было скучно дома. Да-да.
                %p Первоначально Кенди носила 2 хвоста и клетчатую рубашку, однако автор отказалась от этого.
            .row
                .col-lg-6.col-md-6
                    %img#tim.img(src="467.jpg" style="width:100%")
                .col-lg-6.block.col-md-6
                    %p.head Тим
                    %p% Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quo sit ratione adipisci magnam repudiandae exercitationem aspernatur animi dicta nesciunt similique alias cumque officiis quod eaque harum illo, rem voluptatem!
            .notblock
                %p.head Что-то интересненькое о Тиме...
                %p Тим был влюблен в школе в одноклассницу, однако любовь к техническим наукам и сарказму вытеснила романтческие чувства.
                    Технари опасны...
            .row
                .col-lg-6.col-md-6
                    %img#richard.img(src="467.jpg" style="width:100%")
                .col-lg-6.block.col-md-6
                    %p.head Ричард
                    %p% Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos praesentium, in facilis, exercitationem, itaque totam obcaecati aperiam hic odio error nihil nesciunt. Omnis maiores, veniam recusandae quo illum culpa quae.
            .notblock
                %p.head Еще чуть-чуть фактов
            .row
                .col-lg-6.col-md-6
                    %img#vadim.img(src="467.jpg" style="width:100%")
                .col-lg-6.block.col-md-6
                    %p.head Вадим
                    %p% Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi cupiditate dolores ipsam, eos tenetur optio animi, adipisci enim atque fugit facilis nulla minima assumenda repudiandae aperiam delectus eligendi quibusdam nobis!
            .notblock
                %p.head Сплетни о персонаже?!
            .row
                .col-lg-6.col-md-6
                    %img#aeli.img(src="467.jpg" style="width:100%")
                .col-lg-6.block.col-md-6
                    %p.head Аэли
                    %p% Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quae voluptate ipsum, quibusdam ea error similique, ducimus illum cumque neque, saepe consequuntur nulla, quo distinctio nihil! Harum temporibus recusandae nobis.
            .notblock
                %p.head Кто же она?
        %footer
            &copy; Spanri, 2017

