* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
        margin: 0;
        padding: 0;
}   

html,
.wrapper {
  height: 100%;
}
header{
    background-color: #FFC6C6;
    height: 200px;
    max-width: 100%;
    border-radius: 15px 15px 0 0;
    margin:1%;
}
.maindesc{
    display:inline-block;
    font-size:70px;
    -webkit-text-stroke: 2px white;
    color: white;
    font:italic;
}
.slogan{
    font-size:28px;
    -webkit-text-stroke:0.5px;
    display:inline-block;
    color: white;
    font:italic;
}
.catHead{
    height:80%;
    float:left;
    margin:1%;
    border:5px wheat double;
}
.but{
    box-shadow: -3px 5px  #27496d;
    border: 0;
    display:inline-block;
    margin:0.9%;
    padding: 1.3%;
    font-size:20px;
    background-color: white;
    
}
.date{
    margin-left:28%;
    display:inline-block;
    color:white;
    font-size:50px;
}
body{
    background: #5DCEC6;
    /*background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    background-image: url('./Images/fon.jpg');*/
    width:1500px;
    margin:auto;
    height: 100%;
}
.content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
}

footer{
    background-color: #FFC6C6;
   height: 80px;
    text-align: center;
    
    color:#2D338E;;
}