.navbar-nav {
  float: none; }

.navbar {
  border: 0; }

.nav {
  z-index: 100;
  background: #ffc6c6;
  text-align: center; }

.nav li a:hover, .nav li a:focus {
  background-color: #FA5858;
  border-color: #FA5858; }

.menu {
  background-color: #ffc6c6;
  white-space: nowrap;
  font-size: 120%;
  font-family: fantasy;
  text-align: center;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  border: 0;
  padding: 0.1%; }
  .menu:hover {
    background-color: #FA5858;
    border-color: #FA5858; }
  .menu a {
    width: 100%;
    text-align: center;
    text-align: right;
    font-size: 25px;
    margin: 0;
    color: white; }
    .menu a:hover {
      background-color: #FA5858;
      border-color: #FA5858; }

.slogan, .menu, .date, header {
  display: inline-block;
  margin: 0; }

.header {
  background-color: rgba(111, 169, 120, 0.7);
  width: 100%;
  margin-top: 0px;
  margin-bottom: 1%;
  position: relative; }
  .header .changeCol {
    padding: 0;
    background-color: transparent; }
    .header .changeCol:hover {
      background-color: rgba(49, 124, 101, 0.7); }
  .header .title {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 450%;
    margin-left: 0;
    margin-top: 0%;
    margin-bottom: 0;
    color: white; }
  .header_img {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%; }
  .header .slogan {
    font-size: 28px;
    -webkit-text-stroke: 0.5px;
    color: whitesmoke;
    font: italic; }
  .header .date {
    margin-left: 0%;
    color: whitesmoke;
    font-size: 50px; }
